form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: auto;
    justify-content: center;
}

form input{
    height:25px;
    padding: 5px;
    font-size: 20px;
}

form button{
    font-size: 25px;
}


form a{
    font-size: 25px;
}

form p{
    font-size: 25px;
}